# Ignore the datasets (raw and cleaned)
*.csv

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore virtual environments
env/
venv/
